@charset 'utf-8';
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Pretendard";
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header */
header {
  z-index: 100;
  width: 100%;

  padding: 30px 265px 18px 265px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner h1 a {
  color: #444;
}

header .inner #gnb {
  display: flex;
}

header .inner #gnb li a {
  color: #444;
  /* margin-left: 30px; */
  font-size: 1.2em;
  padding: 20px 40px;
  transition: all 0.5s;
}
header .inner #gnb li a:hover {
  background: #666;
  color: #fff;
}
header .mobile_nav {
  display: none;
}

/* visual */
figure {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000;
  padding-top: 150px;
}
figure video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
}
figure .inner {
  width: 60%;
  height: 73%;
  margin: 0px auto;
  position: absolute;

  padding-left: 10%;
}
figure .inner h1 {
  color: #fff;
  font-size: 5em;
  font-weight: normal;

  margin-top: 10%;
  line-height: 75px;
  margin-bottom: 20px;
  margin-left: 30px;
}
figure .inner p {
  width: 70%;
  font-size: 1.2em;
  color: #888;
  margin-left: 30px;
  margin-bottom: 60px;
}

figure .inner a {
  display: block;
  width: 400px;
  height: 60px;
  margin-left: 30px;
  padding: 15px 35px;
  border: 1px solid #bbb;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  transition: all 0.5s;
}

/* news */
section {
  width: 100%;
}
section .inner h1 {
  font-size: 1.6em;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
  font-weight: 500;
}
section .wrap {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
section .wrap article {
  width: 500px;
  margin: 20px;
  border: 15px solid #dbdbdb;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .wrap article .pic {
  position: relative;
  width: 100%;
  height: 300px;
}

section .wrap article .pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section .wrap article .desc {
  text-align: center;
}

section .wrap article .desc h2 {
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 20px;
}
section .wrap article .desc h2 a {
  color: #555;
}

section .wrap article .desc p {
  font-size: 1.1em;
  color: #777;
  margin-bottom: 20px;
}
section .wrap article .desc button {
  width: 150px;
  height: 35px;
  background-color: #999;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 2px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
section .wrap article .desc button:hover {
  background-color: #777;
  transition: 0.5s;
}

/* footer */
footer {
  background: #333;
  padding: 70px 0px;
  width: 100%;
}
footer .inner {
  width: 90%;
  padding-left: 10%;
}
footer .inner .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #777;
}
footer .inner .upper h1 {
  font-size: 1.6em;
  color: #666;
}
footer .inner .upper ul {
  float: right;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 20px;
}

footer .inner .upper ul li a {
  font-size: 1em;
  font-weight: 500;
  color: #666;
}
footer .inner .lower {
  margin-top: 20px;
}
footer .inner .lower address {
  font-size: 1em;
  color: #777;
  margin-bottom: 20px;
}
footer .inner .lower p {
  width: 100%;
  font-size: 1em;
  color: #777;
}
